<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>TV Quiz</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="resources/build/css/app.css">

</head>
<body>

<div id="time"></div>

<div class="container">

  <div id="question" class="question" v-cloak>
    <p>{{question.question}}</p>
    <ol class="answers" v-bind:class="reveal == true ? 'reveal' : ''">
      <li class="choice"
        v-for="answer in question.answers"
        v-bind:class="answer.state == true ? 'correct' : 'incorrect'"
      >
        {{answer.text}}
      </li>
    </ol>
  </div>

</div>


<footer class="footer">
  <p class="attribution">
    <a href="http://ifupdown.com/?halloween-quiz">ifupdown</a> | <a href="http://ryanrampersad.com/?halloween-quiz">ryan rampersad</a>
  </p>
</footer>

<script src="resources/build/js/vendor.js" charset="utf-8"></script>
<script src="resources/build/js/app.js" charset="utf-8"></script>

</body>
</html>
