html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0; padding: 0;
  background-color: #efefef;
  font-family: sans-serif;
  color: #222;
  overflow: hidden;
}

// this comes from vuejs' cloak directive
// it blocks the pre-render flash
// to make things look nice
[v-cloak] { display: none }


//

#time {
  width: 100%;
  margin: 0; padding: 0;
  height: 2rem;
  background-color: #000000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.question {
  font-size: 3rem;
  font-family: 'Roboto Slab';
  padding: 0 2rem 0 2rem;
}

.answers {
  font-size: 2.25rem;
}

.answers li {
  margin-bottom: 1.5rem;
  list-style-type: upper-alpha;
}

.reveal .incorrect {
  transition: opacity .5s linear;
  opacity: .25;
}

//

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.attribution {
  text-align: center;
  font-size: .9rem;
}
.attribution a {color: #666; text-decoration: none;}
.attribution a:hover {color: #85735D; text-decoration: underline;}
.attribution a:visited {color: #555;}
